:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root[data-theme="dark"] {
  color-scheme: dark;
}

:root[data-theme="light"] {
  color-scheme: light;
}

body {
  margin: 0;
  min-width: 320px;
}

[data-theme="dark"] body {
  background: #0c1222;
}

[data-theme="light"] body {
  background: #f5ebe0;
}
